<html>
	<head>
		<title>All Procedures</title>
		<link href="/stylesheets/style.css" rel="stylesheet"/>
		<link href="/stylesheets/xcharts.min.css" rel="stylesheet"/>
		<script src="/javascript/jquery-1.8.0.min.js"></script>
	    <script src="/javascript/xcharts.min.js"></script>
	    <script src="http://d3js.org/d3.v3.min.js"></script>
	</head>
	<body>
		<h1>All Procedures Totals</h1>

		<figure id="allprocedures" style="height:500px;"></figure>		

		<script>
			$.getJSON('/api/1/me/analyse/items', function(responseData) {
				var data = {
					"xScale": "ordinal",
					"yScale": "linear",
					"type": "bar",
					"main": [
					{
					  "data": responseData
					}
					]
				};

				var myChart = new xChart('bar', data, '#allprocedures');
			});

		</script>

	</body>
</html>