<!DOCTYPE html>
<html>
  <head>
    <title>Quicklog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Quicklog</h1>
    <p><a href="/me">Sign in</a></p>
  </body>
</html>