<!DOCTYPE html>
<html>
  <head>
    <title>Quicklog</title>
<% include header %>
  </head>
  <body class="primary">
    <div class="hero-unit">
      <header>
        <img src='/img/quicklog.png'/>
        <h1>Quicklog</h1>
      </header>

      <form class="form-signin" action="/login" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input name="username" type="text" class="input-large input-block-level" placeholder="Email address">
        <input name="password" type="password" class="input-large input-block-level" placeholder="Password">
        <button class="btn btn-large btn-primary" type="submit">Sign in</button> or <a href="/register">register</a>
      </form>
        <h5 class="pull-right">Quicklog was created at <a href="http://nhshackday.com">NHS hackday</a>. Please <a href="https://github.com/quicklog">help us</a> improve it.</h5>
    </div>
  </body>
</html>
