<html>
	<head>
		<title>Procedure <%=tag %></title>
		<link href="/stylesheets/style.css" rel="stylesheet"/>
		<link href="/stylesheets/xcharts.min.css" rel="stylesheet"/>
		<script src="/javascript/jquery-1.8.0.min.js"></script>
	    <script src="/javascript/xcharts.min.js"></script>
	    <script src="/javascript/d3.v3.min.js"></script>
	</head>
	<body>
		<h1>Procedure <%=tag %></h1>

		<figure id="procedurebytag" style="height:500px;"></figure>		

		<script>
			$.getJSON('/api/1/me/analyse/items/<%=tag %>', function(responseData) {
					
				var data = {
				  "xScale": "time",
				  "yScale": "linear",
				  "type": "line",
				  "main": [
				    {
				      "className": ".pizza",
				      "data": responseData
				    }
				  ]
				};
				
				var opts = {
				  "dataFormatX": function (x) { return d3.time.format('%Y-%m-%d').parse(x); },
				  "tickFormatX": function (x) { return d3.time.format('%A')(x); }
				};

				var myChart = new xChart('line', data, '#procedurebytag', opts);

			});

		</script>

	</body>
</html>