body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.primary {
  background-image:url('/img/background.jpg');
  background-size: 100%;
}

a {
  color: #00B7FF;
}

header > img {
  float: left;
  width: 60px;
  margin-right: 10px;
}

legend > img {
  float: left;
  width: 35px;
  margin-right: 10px;
}

#procedure.capitalize {
  text-transform:capitalize;
}

#container {
  margin-top: 10px;
}